@import url('https://fonts.googleapis.com/css2? family= Dancing+Script & family= Roboto+Slab:wght@100 & family= Sedgwick+Ave & display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
    font-family: 'Roboto Slab', serif;
}
main{
    width: 70%;
    padding: 50px;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.photo{
    width: calc(50% - 40px);
    height: calc((35vw - 40px )/16*9);
    margin: 10px;
    background-color: orange;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.photo:hover {
transform: rotate(3deg) scale(1.07);
box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
}
h1{
    width: 100%;
    text-align: center;
    font-size: 48px;
}
.photo1{
    background-image: url(/img/1.jpg);
}

